/* .icon-link>.bi {
    color: green!important;
} */

html,body {
    height: 100%;
}
* {
    margin: 0;
    padding: 0;
}
.cust-vertical-align{
    display: flex;
    align-items: center;
    flex-wrap: wrap;
}
.wrapper{
    background-color: #000000;
}
.header{
   
    display: flex;   
    color: white;
    height: 100px;
}
.header-logo{
    flex:10;
    align-content: center;
}
.navbar{
     flex:2;
    align-content: center;
}
.navbar ul{
    display: flex;
    justify-content: space-around;/*insted of flex value 1 to li , parent of li(ul) set the justify-content value space around */
}
.navbar ul li{
    /* flex:1; */
    display: flex;
    list-style: none;
    font-size: 25px;
    color: #ffff;   
}
.icon-color{
    color: white;
}
.container-image{
    display: flex;
    padding-top: 30px;
    
}
.img-view{
    flex:1.5;
    display: flex;
    justify-content: center;
}
.img-view ul{
   display: flex;    
   justify-content: center;
   align-content: space-around;
   flex-wrap: wrap;

    
}
.img-view ul li{    
    list-style: none;
    border: 1px solid gray;
    display: flex;
    
    
}
.img-large{
    flex: 6;
    display: flex;
    justify-content: center;
}
.img-speciification{
    flex:4;
    font-family:Georgia, 'Times New Roman', Times, serif;
    color:gainsboro;
    height: 800px;
    display: flex;
    flex-direction: column;
    align-content:space-between;  
    line-height: 50px;     
}
.img-speciification-detail{
    border-bottom: 2px solid gray;
    font-size: 25px;
    /* line-height: 50px; */
    width:100%;
    padding: 24px;
    padding-left: 0;
}
.review-rating{
    display: flex;
}
.container-star{
    width: 100px;
    color: orangered;
    font-size: 14px;
    display: flex;
    justify-content: space-around;
    margin-right: 10px;
    align-items: center;
}
.product-price{
    border-bottom: 2px solid gray; 
    width: 100%;
    display: flex;    
    align-items: center;      
    justify-content: space-between;  
    padding: 24px;
    padding-left: 0;
}

.container-currency{
    /* color: white;
    margin-top: 10px;
    padding-top: 20px;
    height: 150px;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    display: flex;
    flex-wrap: wrap;
    align-content:space-between; */
    
}
.price-detail i{
    vertical-align: sub;
}
.btn-stock button{
    background-color: green;
    color: white;
    width: 150px;
    padding: 15px;
    font-size: 20px;
    margin-right: 10px; 
}
.credit-paylater{
    
    display: flex;    
    justify-content: space-between;
    font-size: 20px;
 }
.offers-discount{
    width: 100%;
    border-bottom: 2px solid gray;
    font-size: 22px;
    line-height: 68px;
    padding: 24px;
    padding-left: 0;
}
.credit-card{
    border:1px solid gray;
    display: flex;
    margin-right: 5px;
    align-items: center;
}
.pay-later{
    border:1px solid gray;
    margin-right: 10px;
    align-items: center;
}
.btn-addcart{
    width: 100%;
    display:flex;
    align-items: center; 
    padding: 24px;
    padding-left: 0;
       
}
.btn-addcart button{
    background-color: red;
    color: white;
    padding: 20px;
    width: 200px;
    border-radius: 5px;
}
.btn-specification{
    display: flex;
    justify-content: center;
}
.btn-background{
    width: 200px;
    padding: 10px;
    margin: 10px;
    font-size: 25px;
    color: white;
    background-color: red;
    border-radius: 10px;
}
.btn-transparent{
    width: 200px;
    padding: 10px;
    margin: 10px;
    font-size: 25px;
    background-color: transparent;
    border: transparent;
    color: white;
}
.conainer-specification{
    display:flex;
    margin-top: 50px;
    margin-bottom: 50px;
}
.product-specification-name{
    color:white;   
    font-size: 25px;
}
.product-specification-name ul li{
    list-style: none;
    padding: 10px;
}
.prodct-specification-detail{
    color:white;   
    font-size: 25px;
    width: 450px;
}
.prodct-specification-detail ul li{
    list-style: none;
    padding: 10px;
    text-align:end;
}
.related-products{
    display: flex;
    margin: 10px;
}
.related-product-head{
    margin: 50px;
    text-align: center;
    color: white;
    font-size: 20px;
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}
.container-specification{
    margin-top: 90px;
    margin-bottom: 90px;
}
.related-products-item{
    border: 1px solid gray;
    flex: 1;
    margin: 10px;
    padding: 20px;
}
.related-products-detail{
    border-bottom: 1px solid gray;
    padding-bottom:10px ;
}
.related-products-detail h1{
    color:darkgrey;
    padding-top: 10px;
}
.related-products-detail p{
    color:darkgrey;
    padding-top: 10px;
    font-size: 20px;
    height: 50px;
}
.related-products-detail i{
    color: red;
    font-size: 15px;
}
.related-products-img{
    margin-bottom: 40px;
    text-align: center;
}
.related-products-rupee{
    color: white;
    vertical-align: sub;
    padding-top: 20px;
    font-size: 30px;
 }
 .related-products-rupee button{
    color: white;
    background-color: red;
    width:100%;
    padding: 15px;
    margin-top: 20px;
    font-size: 25px;
    border-radius:10px;
 }
 .related-products-next-btn{
    width: 200px;
    display: block;
    margin: auto;
 }
 .related-products-next-btn button{
    margin-right: 20px;
    width: 10px;
    height: 10px;
    border-radius: 50%;
     background-color:gray;
 }